*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container{
  min-width: 320px;
  max-width: 480px;
}
@import "header";
@import "fork-app";
@import "fork-suncribe";
@import "rev-editor";
@import "reviews";
@import "here-w-y-get";